@using _728Meeting.Models
@model CheckNameModel
@{
    ViewBag.Title = "728会议支持系统";
}
<style>
    body {
        background: url(/Content/bg.jpg) no-repeat;
        background-size: 94% auto;
        background-position:center 82%;
    }
    footer {
        background: none;
    }
</style>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
        @using (Html.BeginForm("CheckName", "Signin", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>请输入您的姓名以查询会务信息。</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })              
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10" style="text-align: right;">
                    <input type="submit" value="登录" class="btn btn-default" />
                </div>
            </div>
        }
        </section>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}